<!--Product Page Design-->


{% extends 'base.html' %}


{% block content %}


    {% load static %} 


    <!-- banner Section start -->
    <section class="banner_section">
        <div class="container">
            <div class="banner-content">
                <h1>Product</h1>
            </div>
        </div>
    </section>
    <!-- banner section exit -->

    <!--Product Section start -->
    <section class="product_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center pb-5">
                    <h2 class="section-title">Our Best Seller Product</h2>
                </div>
            </div>
            <div class="row align-items-center py-5">
                <div class="col-md-4">
                    <div class="row">
                    <img src="/media/{{product.image}}" width="233px" height="385px"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <p><h2>{{product.category}}</h2></p>
                    <h3 class="text-dark">{{product.product_name}}</h3>
                    <p><b>Rs. {{product.price}}</b></p>
                    <p>{{product.desc}}</p>
                    
                    
                    <div class="row">
                        <div class="col-12">
                            <a href="#"><button type="button" class="btn btn-primary my-4 mx-3 fs-2">Add to Cart</button></a>
                            <a href="#"><button type="button" class="btn btn-success fs-2">Buy Now</button></a>
                        </div>
                    </div>
        
                </div>
            </div>
            <!--<div class="row align-items-center py-5">
                <div class="col-xl-7 col-lg-6 col-12 mb-5  order-2 order-lg-1">
                    <div class="product-content">
                        <h2>Lemon Juice Concentrate</h2>
                        <div class="product-details">
                            <p>Ready to use Pure, Natural, and Fresh Lemon Juice concentrate in lemon shape bottle of 14
                                Lemons & 30 Lemons, No need to Buy costly Lemons Anymore, Then cut and Squeeze & store
                                them, Just Bring!</p>
                            <p>Easy to use and easy to carry, just squeeze it to use it. 99.99% Lemon juice concentrate,
                                No added sugar or anything.</p>

                            <h4>Uses of Nimboo Ras</h4>
                            <p>Use in all your cooking, use in all types of drinks, with Green Tea, with Warm Water.
                            </p>
                            <h4>Benifites Of Nimboo Ras</h4>
                            <p>Reduce stress, Boost the Immune system, help prevent kidney stones, Fight cancer Cells,
                                Natural antiseptic, Clean & clear skin, white Teeth, Stop Dandruff, Aid in digestion,
                                promote weight loss and many more...</p>

                            <a href="#" class="btn main-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-12 mb-5 order-1 order-lg-2">
                    <div class="card border-0 ms-lg-5">
                        <img decoding="async" src="{% static  './images/products/fresh-fruits2.jpg'  %}" alt="product" class="img-fluid">
                    </div>
                </div>
            </div> -->

        </div>
    </section>
    <!--Product Section Exit -->

{% endblock %}